body{
    background-color: rgb(159, 152, 173) !important;
}

h2{
    text-align: center;
}


.calc{
    width:270px ;
    height: auto;
    background-color: #1C1C1C;
    padding: 20px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
}
.screen{
    width: 220px;
    height: 50px;
    border-radius: 9px;
    border: none;
    text-align: right;
    
    
}
.but{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #505050;
    border: none;
    color: white;
}

.mult{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #FF9500;
    color:white;
    border: none;
}

.sub{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #FF9500;
    color:white;
    border: none;
}

.add{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #FF9500;
    color:white;
    border: none;
}

.equal{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #FF9500;
    color:white;
    border: none;
}

.del{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #FF9500;
    color:white;
    border: none;
}
.clear{
    background-color: #D4D4D2;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color:black;
    border: none;
}
.div{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #FF9500;
    color:white;
    border: none;
}

.dot{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #FF9500;
    color:white;
    border: none;
}